html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
img {
	max-width: 90%;
	max-height: 90vh;
	width: auto;
	height: auto;
}